/* CSS declarations go here */
//card title
.username.card-title
{
  position:absolute;
  bottom:20px!important;
  left: 10px!important;
  padding: 0 10px!important;
}
.username.card-title:hover
{
  background-color: slategray;
}