<template name="threads">
    <div class="thread right collection">
        <a href="{{pathFor 'threadpage' thread="People"}}" class="collection-item"><span class="badge">1</span>People</a>
        <a href="{{pathFor 'threadpage' thread="Fashion"}}" class="collection-item"><span class="badge">4</span>Fashion</a>
        <a href="{{pathFor 'threadpage' thread="Art"}}" class="collection-item"><span class="badge">14</span>Art</a>
        <a href="{{pathFor 'threadpage' thread="Sports"}}" class="collection-item"><span class="badge">14</span>Sports</a>
    </div>
</template>

<template name="threadpage">
    <div class="row">
        <div class="col s12 m7 l8">
            {{#each posts}}
                {{>post_card}}
            {{/each}}
        </div>
        <div class="col s0 m0 l4">
            <h3 style="text-align: right;">Threads</h3>
            {{>threads}}
        </div>
    </div>
</template>